# 基础科学计算和数据处理
numpy
pandas
matplotlib
seaborn

# 地理空间数据处理
rasterio
geopandas
shapely
fiona
contextily
pyproj

# 机器学习相关
scikit-learn
torch
torchvision

# 图像处理
opencv-python

# Jupyter 相关
jupyter
notebook
ipykernel

# 其他依赖
rtree